/* 滚动条设置 */
::-webkit-scrollbar {
	/* 滚动条 */
	width: 10px;
}

::-webkit-scrollbar-thumb {
	/* 滚动条上的滚动滑块. */
	background: linear-gradient(transparent, #30ff00);
	/* 背景颜色 */
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(transparent, #00ffff);
}

html {
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	margin: 0;
	min-height: 100vh;
}

.scalable {
	background-color: #eee;
	position: relative;
	min-width: 250px;
	max-width: 50vw;
	z-index: 200;
	height: 100vh;
	position: sticky;
	top: 0px;
}

.main {
	background-color: white;
	flex: 1;
	/* position: initial; */
}

.content {
	padding: 20px;
}

.scalable .separator {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	width: 14px;
	height: 100%;
	background-color: white;
	box-shadow: -2px 2px 2px rgba(0, 0, 0, .35);
	cursor: col-resize;
	border-color: transparent #000000 transparent transparent;
	border-width: 1px;
	border-style: solid;
}

.scalable .separator i {
	display: inline-block;
	height: 14px;
	width: 1px;
	background-color: #000;
	margin: 0 1px;
}

.scalable .content {
	padding-right: 34px;
}

.scalable .content img {
	display: block;
	max-width: 100%;
	margin: auto;
}

body {
	-webkit-user-select: none;
	user-select: none;
}

.content #menu div {
	width: 100%;
	height: 50px;
	margin-right: 10px;
	align-items: center;
	margin-bottom: 10px;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
	background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
	background-size: 400%;
	animation: sun 20s linear infinite;
}

@keyframes sun {

	100% {
		background-position: 400% 0;
	}
}

.content #menu div p {
	text-align: center;
	width: 100%;
	color: #FFFFFF;
	line-height: 50px;
	font-weight: 700;
}


/* --imageaddress:url(../images/java.png) ;   */
.javamain,
.frontendmain,
.PHPmain,
.mysqlmain,
.Tutorialmain,
.Englishmain {
	background-repeat: repeat;
	padding: 50px;
	width: 100%;
	height: 100%;
}

.javamain {
	z-index: 200;
	background: url(../images/java.png);
	color: #FFFFFF;
	display: inline-block;
}

.javamain .java h2 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

.javamain .java p {
	margin-left: 150px;
	margin-right: 150px;
}

.frontendmain {
	z-index: 150;
	background: url(../images/frontend.png);
	color: #000000;
	display: none;
}

.frontendmain .frontend h2 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

.frontendmain .frontend p {
	margin-left: 150px;
	margin-right: 150px;
}

.PHPmain {
	z-index: 100;
	background: url(../images/PHP.png);
	color: #000000;
	display: none;
}

.PHPmain .PHP h2 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

.PHPmain .PHP p {
	margin-left: 150px;
	margin-right: 150px;
}

.mysqlmain {
	z-index: 50;
	display: none;
	background: url(../images/mysql.png);
	color: #FFFFFF;
}

.mysqlmain .mysql h2 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

.mysqlmain .mysql p {
	margin-left: 150px;
	margin-right: 150px;
}

.Tutorialmain {
	z-index: 25;
	display: none;
	background: url(../images/Tutorial.png);
	color: #000000;
}

.Tutorialmain .Tutorial h2 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px
}

.Tutorialmain .Tutorial p {
	margin-left: 150px;
	margin-right: 150px;
}

.Englishmain {
	z-index: 20;
	display: none;
	background: url(../images/English.png);
	color: #000000;
}

.Englishmain .English h2 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

.Englishmain .English p {
	margin-left: 150px;
	margin-right: 150px;
}



















p.beginning {
	margin-left: 190px;
	font-weight: 800;
	color: #1890FF;
}

pre {
	background-color: #999;
	color: #000;
	opacity: 0.9;
	font-size: 17px;
	position: relative;
	width: auto;
	overflow-y: hidden;
	overflow-x: scroll;
	padding: 15px;
	padding-bottom: 0;
	margin-left: 100px;
	margin-right: 100px;
	box-shadow: 2px 3px 5px #000;
	border-radius: 2px;
}

pre::before {
	content: " ";
	position: absolute;
	left: 50px;
	top: 0;
	height: 100%;
	width: 2px;
	background-color: #ffFFFF;
	z-index: 2;
}

pre .Annotate {
	color: #008000;
}

pre .firstname {
	color: #a31515;
}

pre .Keyword {
	color: #00f;
}

span.point {
	color: red;
}

div.point {
	color: #00FFFF;
}











.box {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -40%);
	background-color: #00C6FF;
	padding: 20px;
	visibility: hidden;
	opacity: 0;
	width: 500px;
	height: auto;
	z-index: 999;
}

.box a {
	display: inline-block;
	width: 80px;
	height: 40px;
	color: floralwhite;
	text-decoration: none;
	background-color: #000000;
	line-height: 40px;
	padding-left: 20px;
}

.boxactive {
	opacity: 1;
	position: absolute;
	visibility: visible;
	top: 50%;
	left: 50%;
	transition: top 0.5s linear, opacity 0.5s linear;
	box-shadow: 2px 2px 1000px 1000px rgba(0, 0, 0, 0.6);
	z-index: 999;
}

span.mask {
	background-color: #252525;
	color: #252525;
	transition: color 0.5s;
	padding: 5px;
	border-radius: 5px;
}

.mask:hover {
	color: #ffffff;
}





#menu1 {
	width: 110px;
	height: 110px;
	position: fixed;
	top: 20%;
	right: 80px;
	border-radius: 100px;
	background-color: #FFFFFF;
	border: 2px solid #00FFFF;
	color: #00FFFF;
	z-index: 500;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu {
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-image: linear-gradient(180deg, #00ffff, #0099FF);
	z-index: 20;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu p {
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
	color: #0099FF;
	z-index: 200;
	letter-spacing: -1px;
}

.menu:hover {
	transform: scale(1.12, 1.12);
	box-shadow: 2px 2px 3px #CCCCCC;
	background-image: linear-gradient(180deg, #ffffff, #00ffff);
	transition: background-image 1s linear;
}

#menu:hover {}

.menu::before {
	content: ' ';
	top: -50px;
	left: 5px;
	width: 100px;
	height: 100px;
	position: absolute;
	background-color: #FFFFFF;
	border-radius: 41%;
	z-index: 200;
	animation: name 3s linear infinite normal;
}

@keyframes name {
	from {
		transform: rotate(0deg) translateY(2px);

	}

	to {
		transform: rotate(360deg) translateY(2px);
	}
}

#menu1 .path {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: #0099FF;
	position: absolute;
	z-index: 5;
	display: none;
	transform-origin: center;
	/* border-radius: 50px; */
	background: linear-gradient(145deg, #00e6e6, #00ffff);
	box-shadow: 5px 5px 10px #008f8f,
		/* -5px -5px 10px #DDDDDD; */
}

#menu1 .path a {
	display: block;
	width: 50px;
	height: 50px;
	text-decoration: none;
}

#menu1 .path a p {
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 10px;
	letter-spacing: -1px;
	line-height: 50px;
	color: #0099FF;
	text-shadow: 1px 1px 2px #DDDDDD;
}

.path1 {
	top: -55px;
	left: 30px;
}

.path2 {
	top: 30px;
	left: -55px;
}

.path3 {
	bottom: -55px;
	left: 30px;
}

.path4 {
	top: 30px;
	right: -55px;
}














/* ------------------------------------------------------------------------------- */
/* 移动样式 */
@media screen and (max-width: 576px) {
	html{
		width: 100vw;
	}
	.scalable {
		height: auto;
		min-width: 150px;
		max-width: 50vw;
	}
   .main{
	   min-width: 700px;
   }
   .box,#menu1{
   		   transform: scale(0.5,0.5);
   }

}
