.loadingmain {
	width: 100vw;
	height: 100vh;
	background-color: #1C1C1E;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	z-index: 99999;
}

@keyframes xiaoshi {
	0% {
		opacity: 1;
		display: inline;
		visibility: visible;
		background-color: #1C1C1E;
	}

	100% {
		opacity: 0;
		display: none;
		visibility: hidden;
		/* background-color: #FFFFFF; */
	}
}


.loadingmain .loading {
	position: absolute;
	/*绝对定位*/
	top: 50%;
	/*距上部*/
	left: 50%;
	/*距左部*/
	height: 40px;
	/*高度*/
	width: 40px;
	background-color: #1C1C1E;
	/*宽度*/
	/*转变： X,Y轴移动, 旋转45度 开启GPU加速(详见Google)*/
	transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
	animation: animate 1.2s ease-in-out infinite;
	/*动画: 名称 时间 播放线性 重复*/
}

@keyframes animate {

	/*动画 animate*/
	0%,
	10%,
	100% {
		height: 40px;
		width: 40px;
	}

	/*根据修改宽、高，实现子元素span的移动*/
	65% {
		height: 70px;
		width: 70px;
	}
}

.loading span {
	position: absolute;
	display: block;
	/*盒模型*/
	width: 20px;
	height: 20px;
	animation: rotate 1.2s linear both infinite;
	/*动画：名字 时间 结束后状态 重复*/
}

@keyframes rotate {

	0%,
	30% {
		transform: rotate(0);
	}

	/*根据修改角度实现元素的抖动效果*/
	65% {
		transform: rotate(-40deg);
	}
}

.loading span:nth-child(1) {
	/*第一个span元素*/
	background: #1ac9ff;
	left: 0;
	top: 0;
}

.loading span:nth-child(2) {
	background: #fcb603;
	/*根据修改定位，让4各span元素不重叠*/
	right: 0;
	top: 0;
}

.loading span:nth-child(3) {
	background: #af49b6;
	left: 0;
	bottom: 0;
}

.loading span:nth-child(4) {
	background: #e03870;
	right: 0;
	bottom: 0;
}











html {
	font-size: 15px;
	font-family: helvetica;
	width: 100%;
	overflow: hidden;
}

::-webkit-scrollbar {
	/* 滚动条 */
	width: 10px;
}

::-webkit-scrollbar-thumb {
	/* 滚动条上的滚动滑块. */
	background: linear-gradient(transparent, #30ff00);
	/* 背景颜色 */
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(transparent, #00ffff);
}

/* -------------------------------最上面 */
.photo {
	/* background: url(../img/photo.jpg); */
	background: url(../images/java.png);
	/* background: url(../images/night.gif); */
	/* background: url(../images/cool-background%20(1).png); */
	/* box-sizing: 400%; */
	background-color: #000000;
	height: 280px;
}

.photo h1 {
	z-index: 99;
	color: #EEEEEE;
	margin-top: 100px;
}

.photo p {
	z-index: 99;
	color: #EEEEEE;

}

#div2 {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 280px;
}

#div2 span {
	display: inline-block;
	width: 1px;
	background: transparent;
	animation: star 1s ease-in-out infinite;
	opacity: 0;
	position: absolute;
}

#div2 span:after {
	content: '';
	display: inline-block;
	border: 1px solid #000;
	border-width: 0px 120px 4px 120px;
	transform: rotate(-45deg);
	border-color: transparent transparent transparent #fff;
	border-radius: 10px;
}

@keyframes star {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 1;
	}

	to {
		opacity: 0;
		transform: translateX(-200px) translateY(200px);
	}
}



/* -------------------------------最上面 */
/* ------------------------------------音乐播放器 */
#musicbox {
	height: 106px;
	width: 396px;
	background-color: aliceblue;
	position: fixed;
	bottom: 30px;
	right: 30px;
	/* transform: translate(30); */
	border-radius: 5px;
	box-shadow: 2px 3px 10px #666666;
	display: none;
}

#musicbox img {
	height: 106px;
	width: 106px;
	display: block;
	position: relative;
	border-radius: 5px 0px 0px 5px;
}

.sing {
	position: absolute;
	top: 2px;
	left: 120px;
}

.singername {
	font-size: 10px;
	margin: 5px 0px 0px 0px;
	padding: 0;
	width: 240px;
	text-align: center;
}

.singname {
	font-size: 20px;
	margin: 0;
	width: 240px;
	text-align: center;
}

.Buttonkey {
	position: absolute;
	top: 70px;
	left: 170px;
}

.starticon:hover path:first-child {
	fill: #00FFFF;
}

.pauseicon:hover path:first-child {
	fill: #00FFFF;
}

.lefticon {
	margin-right: 20px;
}

.lefticon:hover path:first-child {
	fill: #00FFFF;
}

.righticon {
	margin-left: 20px;
}

.righticon:hover path:first-child {
	fill: #00FFFF;
}

.pauseicon {
	display: none;
}

.volumebox {}

.volumeicon {
	position: absolute;
	bottom: 2px;
	right: 10px;
	z-index: 99;
}

.volumeicon:hover path {
	fill: #00FFFF;
}

input[type="range"] {
	transform: rotate(-90deg);
	bottom: 49px;
	right: -18px;
	position: absolute;
	width: 70px;
	opacity: .5;
	filter: grayscale(100%);
}

input[type="range"]:hover {
	filter: grayscale(50%);
}

/* ------------------------------------音乐播放器 */
/* --------------------------233 */
#box {
	position: fixed;
	top: 400px;
	right: 200px;
	width: 250px;
	height: 250px;
	cursor: pointer;
	top: 200px;
	display: none;
}

#box img {
	position: absolute;
	top: 0;
	left: 0;
}

.dis {
	display: none;
}

#RegionTool {
	position: absolute;
	right: -80px;
	top: 50px;
	border: 2px solid #00FFFF;
	border-radius: 5px;
	background-color: #00FFFF;
	padding: 5px;
	width: 140px;
	/* height: 40px; */
}

#RegionTool:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-width: 6px 15px 6px 0px;
	border-style: solid;
	border-color: transparent #00ffff transparent transparent;
	position: absolute;
	top: 5px;
	left: -15px;
}

#mov {
	position: absolute;
	bottom: 20px;
	right: 80px;
	cursor: move;

}

/* --------------------------------233 */
/* --------------------------藏书 */
.booklist {
	border: 2px solid gainsboro;
	margin: 10px;
	border-radius: 5px;
}

.booklist:hover {
	box-shadow: 2px 3px 10px #C0C0C0;

}

h2 svg {
	margin-bottom: -5px;
}

h2 {
	margin-bottom: 20px;
}

.booklist img {
	width: 180px;
	height: 200px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.booklist h5 {
	margin-bottom: 10px;
	text-align: center;
	margin-top: 10px;
}

/* --------------------------藏书 */












/* ------------------------------------------书籍 */
.writername {
	color: red;
}


/* ------------------------------------------书籍 */

/* --------------------------- */
.notebook {
	width: 280px;
	margin-top: 50px;
	position: relative;
	/* color: rgb(240, 208, 167); */
	color: #FFFFFF;
	padding: 25px 0px 10px 0px;
	/* background-color: #FCF3CF; */
	/* background-color: #000000; */
	/* box-shadow: 2px 3px 4px #666666; */
	border-radius: 5px;
	margin-left: 5px;
	margin-bottom: 20px;
	opacity: 0.7;
}

.notebook h2 {
	text-align: center;
	font-weight: 900;
	font-size: 30px;
	margin: 0;
	padding: 0;
}

/* .notebook:hover h6 {
	display: inline;
	text-align: center;
	margin-left: 15px;
	padding: 0;
	font-size: 10px;
} */

.notebook h6 {
	text-align: center;
	margin: 0;
	padding: 0;
	text-shadow: 1px 1px 1px #666666;
	/* display: none; */
	font-size: 10px;
	/* margin-left: 9px; */
}

.notebookpath {
	display: flex;
	margin: 5px 0px 5px 0px;
	border-style: solid;
	border-width: 1px;
	border-color: #666666 transparent transparent transparent;
	height: 40px;
	justify-content: center;
	align-items: center;
	position: relative;
}

.txt {
	margin: 5px;
	transform: translateX(-20px);
	/* background-color: #FCF3CF; */
	/* background-color: #000000; */
	background-color: transparent;
	outline: none;
	border: none;
	/* color: black; */
	color: #FFFFFF;
	/* font-weight: 700; */
	font-family: helvetica;
	letter-spacing: 2px;
	text-align: center;
}

.notebookpath svg {
	margin-bottom: 0px;
	background-color: #F0F8FF;
	border-radius: 15px;
	transform: translateX(-20px);
	box-shadow: 1px 1px 5px #666666;
}

.notebookpath span {
	position: absolute;
	top: calc(50%);
	left: calc(23%);
	width: 150px;
	height: 3px;
	border-radius: 10px;
	background-color: #CCCCCC;
	display: none;
}

.txt1 {
	text-align: center;
}

/* ------------------------------------------ */
/* #teletype {
	height: 70px;
	width: 280px;
	
	display: block;
	font-size: 15px;
} */

/* -------------------------------------- 侧边栏*/
#hamburger-hidden-checkbox {
	display: none;
}

/* label[for="hamburger-hidden-checkbox"] {
			  
			} */

.hamburger-box {
	display: block;
	padding: 4px;
	/* position: relative; */
	position: absolute;
	top: 15px;
	left: 50px;
	margin-bottom: 10px;
	z-index: 99;
}

.hamburger-box span {
	display: block;
	width: 26px;
	height: 4px;
	background-color: #FFFFFF;
	margin: 5px 0;
	transition: transform .3s, opacity .3s;
	opacity: 1;
}

#hamburger-hidden-checkbox:checked~label[for="hamburger-hidden-checkbox"] .hamburger-box span:first-child {
	transform: rotatez(45deg) translate(4px, -4px);
	transform-origin: 0 0;
	background-color: #FFFFFF;
}

#hamburger-hidden-checkbox:checked~label[for="hamburger-hidden-checkbox"] .hamburger-box span:nth-child(2) {
	opacity: 0;
}

#hamburger-hidden-checkbox:checked~label[for="hamburger-hidden-checkbox"] .hamburger-box span:last-child {
	transform: rotatez(-45deg) translate(2px, 2px);
	transform-origin: 0 0;
	background-color: #FFFFFF;
}

#hamburger-hidden-checkbox:checked~.hamburger-menu-container {
	display: block;
	transform: translateX(0);
	opacity: .9;
}


.hamburger-menu-container {
	background-color: #000000;
	padding: 4px;
	width: 300px;
	background: url(../images/night.gif);
	/* background: url(../images/cool-background%20(1).png); */
	height: 1680px;
	z-index: 98;
	transform: translateX(-300px);
	box-sizing: border-box;
	transition: transform .3s, opacity .3s;
	opacity: .5;
	position: absolute;
	top: 0;
	overflow-x: hidden;
	/* border-radius: 0px 0px 20px 0px; */
}

.hamburger-menu-container>h2 {
	text-align: center;
	color: #FFFFFF;
	font-weight: 900;
	margin-top: 60px;
	padding: 0;
	margin-bottom: -50px;
}

.hamburger-menu-container ul {
	margin: 70px 0px 0px 0px;
	padding: 0;
	width: 100%;
	display: inline-block;
}

.hamburger-menu-container li {
	list-style: none;
	color: #FFFFFF;
	padding-left: 20px;
	height: 40px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF transparent transparent transparent;
	line-height: 40px;
}

.hamburger-menu-container li a {
	color: #F0F8FF;
	text-decoration: none;

}

.hamburger-menu-container li a:hover {
	color: #00FFFF;

}

/* ------------------------------------------侧边栏 */

/* ---------------------------------------盒子 */
.urlbox {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -40%);
	background-color: #FFFFFF;
	padding: 20px;
	visibility: hidden;
	opacity: 0;
	width: 400px;
	height: auto;
	z-index: 9999;
	padding: 20px 0px 0px 0px;

}
.jumbotron+.urlbox{
	width: 480px;
	height: auto;
}
.urlbox h2 {
	text-align: center;
}

.closebox {
	display: inline-block;
	width: 80px;
	height: 40px;
	color: #F0F8FF;
	background-color: #000000;
	line-height: 40px;
	padding-left: 13px;
	/* margin-left: 20px;
	margin-bottom: 20px; */
	float: right;
}


.closebox:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.urlbox ul {
	padding: 0;
	margin: 0;
}

.urlbox li {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 40px;
}

.urlbox li a {
	display: block;
	margin-left: 20px;
	margin-right: 20px;
	height: 40px;
	text-decoration: none;
	color: #000;
	border-style: solid;
	border-width: 1px;
	border-color: #000000 transparent transparent transparent;
}

.urlboxactive {
	opacity: 1;
	position: absolute;
	visibility: visible;
	top: 50%;
	left: 50%;
	transition: top 0.5s linear, opacity 0.5s linear;
	box-shadow: 2px 2px 1000px 1000px rgba(0, 0, 0, 0.6);
}

.nav-item {
	height: 40px;
}

.nav-item p {
	color: #000000;
	display: inline-block;
	height: 40px;
}

.nav-item svg {
	margin-right: 8px;
	margin-bottom: -8px;
}

.nav-item p:hover {
	color: #00FFFF;
	text-shadow: 1px 1px 5px #060C21;
}







canvas {
	background: #eee;
	display: block;
	margin: 20px auto;
	
}

/* ------------------------------------------------------------------------------- */
/* 移动样式 */
@media screen and (max-width: 576px) {

	/*  html{
			   height: 1300px;
		   } */
	.loadingmain {
		display: none;
		visibility: hidden;
		transform: scale(0, 0);
	}


	#box {
		position: absolute;
		top: 150px;
		right: 5px;
		transform: scale(0.5, 0.5);
	}

	#musicbox {
		position: fixed;
		bottom: 10px;
		left: 10px;
		transform: scale(0.7, 0.7);
	}

	.hamburger-menu-container {
		height: auto;
	}

	#hamburger-hidden-checkbox:checked~.hamburger-menu-container {
		transform: scale(0.8, 1) translateX(-36px);
	}

	.container h2,
	img,
	p {
		margin-left: 20px;
	}

	#teletype {
		margin-left: 20px;
		height: 50px;
		display: block;
	}

}
